.preserve-3d {
  transform-style: preserve-3d;
}

.translate-z-20 {
  transform: translateZ(5rem); /* adjust for cube depth */
}
.-translate-z-20 {
  transform: translateZ(-5rem);
}

html {
  scroll-behavior: smooth;
}